*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
}

body {
  box-sizing: border-box;
  background-color: $color-grey-light-1;
  grid-area: body;
}

main {
  // background-color: orangered;
  height: 92vh;
  overflowy: scroll;

  @include respond(tab-land) {
    width: 100rem;
  }
}

.navigation {
  grid-area: navigation;
  z-index: 100;
}

.container {
  //max-width: 100rem;
  overflow: hidden;
  display: grid;

  grid-template-areas:
    'body'
    'navigation';

  @include respond(tab-land) {
    grid-template-areas:
      'navigation'
      'body';
  }
}

.main-content {
  margin-bottom: $nav-height;
  margin-top: 0;
  @include respond(tab-port) {
    margin-top: $nav-height;
    margin-bottom: 0;
  }
}
