/*

0-600px;            Phone
600-900px;          Tablet Potrait
900-1200px;         Tablet Landscape
1200-1800px;        Normal styles apply  
1800-;              Large Desktops
 
$breakpoint argument choices :
-phone
-tab-port
-tab-land
-big-desktop

 */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    opacity: 0.8;
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    opacity: 0.8;
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveUpDown {
  0% {
    transform: translateY(0); }
  25% {
    transform: translateY(-2rem); }
  50% {
    transform: translateY(0rem); }
  75% {
    transform: translateY(-2rem); }
  100% {
    transform: translateY(0rem); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  background-color: #f6f6f6;
  grid-area: body; }

main {
  height: 92vh;
  overflowy: scroll; }
  @media only screen and (min-width: 75em) {
    main {
      width: 100rem; } }

.navigation {
  grid-area: navigation;
  z-index: 100; }

.container {
  overflow: hidden;
  display: grid;
  grid-template-areas: 'body' 'navigation'; }
  @media only screen and (min-width: 75em) {
    .container {
      grid-template-areas: 'navigation' 'body'; } }

.main-content {
  margin-bottom: 3.5rem;
  margin-top: 0; }
  @media only screen and (min-width: 56.25em) {
    .main-content {
      margin-top: 3.5rem;
      margin-bottom: 0; } }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (min-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (min-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }
  @media only screen and (min-width: 56.25em) {
    .u-margin-bottom-small {
      margin-bottom: 1rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }
  @media only screen and (min-width: 56.25em) {
    .u-margin-top-big {
      margin-top: 5rem !important; } }

.list__head {
  font-size: 2rem;
  text-align: center; }
  .fixed-header .list__head {
    background-color: blue; }

.list-item {
  font-size: 1rem;
  padding: 0.5rem 0;
  transition: all 0.3s;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 0.5rem 1rem;
  margin: 0.5rem auto; }
  .list-item__title {
    font-size: 1.5rem;
    font-weight: 700;
    color: rgba(41, 152, 255, 0.7); }
  .list-item__description {
    color: #ccc; }
  .list-item__facts {
    padding-top: 0.5rem;
    margin-top: 0.5rem;
    border-top: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .list-item__facts--icon {
      transition: all 0.3s;
      cursor: pointer;
      padding: 0.7rem 1rem 0.2rem 1rem;
      border-radius: 2px; }
      .list-item__facts--icon:hover {
        color: #2998ff;
        transform: scale(1.2) rotate(10deg);
        background: rgba(41, 152, 255, 0.3); }
  .list-item--notification {
    padding: 0.5rem;
    transition: all 0.3s;
    font-size: 80%;
    border-bottom: 1px solid #ccc;
    margin: 0 auto; }
    .list-item--notification:hover {
      border: 1px solid rgba(41, 152, 255, 0.5);
      background: rgba(41, 152, 255, 0.05); }
  .list-item--selected {
    padding: 0.5rem;
    background: rgba(41, 152, 255, 0.1); }

.query-list {
  margin-top: 2rem; }
  .query-list__item {
    padding: 0.5rem 2rem;
    margin-bottom: 2rem;
    border-radius: 5px; }

.user-stats-list__item {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: center;
  align-items: center;
  grid-gap: 1rem;
  margin: 0;
  padding: 0.5rem 0.5rem; }
  .user-stats-list__item:not(:last-child) {
    border-bottom: 1px solid #ccc; }
  .user-stats-list__item__title {
    font-size: 1.2rem;
    color: #28b485; }

.facts {
  padding-top: 0.5rem;
  margin-top: 0.5rem;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-around; }
  .facts--icon {
    transition: all 0.3s;
    cursor: pointer;
    padding: 0.7rem 1rem 0.2rem 1rem;
    border-radius: 2px; }
    .facts--icon:hover {
      color: #2998ff;
      transform: scale(1.2) rotate(10deg);
      background: rgba(41, 152, 255, 0.3); }

.fact {
  font-size: 1rem;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  text-align: center; }
  .fact__icon {
    justify-self: end;
    margin-right: 0.5rem; }
    .fact__icon--1 {
      color: #2998ff; }
    .fact__icon--2 {
      color: #f0386b; }
    .fact__icon--3 {
      color: #ffb900; }
  .fact__value {
    margin: 0;
    text-align: left; }

.card {
  border-radius: .5rem;
  border: 1px solid #ccc;
  background-color: #fcfcfc; }
  .card__header {
    border-bottom: 1px solid #ccc; }
  .card__heading {
    text-align: center; }
  .card__icons {
    list-style: none;
    text-align: center;
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
    align-items: center;
    margin-top: 0.5rem; }
    .card__icons a {
      text-decoration: none;
      padding-top: 0.2rem;
      color: #777;
      border-radius: 0.5rem; }
      .card__icons a:hover {
        background-color: rgba(41, 152, 255, 0.3); }
      .card__icons a:active .card__icon {
        font-size: 1rem; }
  .card__icon {
    transition: all 0.3s ease;
    background-color: red;
    padding: 0.5rem;
    border-radius: 50%;
    color: white; }
    .card__icon--1 {
      background-color: #55c57a; }
    .card__icon--2 {
      background-color: #ff7730; }
    .card__icon--3 {
      background-color: #f0386b; }
    .card__icon--4 {
      background-color: #2998ff; }
  .card__facts {
    position: absolute;
    left: 50%;
    bottom: 1rem;
    transform: translate(-50%, 100%);
    width: 90%;
    background-color: #fcfcfc;
    box-shadow: 0 0 3rem 0.1rem rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    z-index: 9999;
    padding: 0.5rem;
    overflowy: scroll;
    height: 100%; }
    .card__facts .fact {
      font-size: 1rem; }
    @media only screen and (min-width: 56.25em) {
      .card__facts {
        top: 1rem;
        width: 100%;
        box-shadow: none;
        border: 1px solid #ccc; } }

a {
  text-decoration: none;
  color: #777;
  outline: none; }

.messages {
  padding: .4rem;
  border-radius: 4px; }

.message {
  padding: .5rem;
  border: 1px solid #ccc;
  border-radius: .5rem;
  padding: 1rem .5rem; }
  .message__main {
    display: grid;
    grid-template-columns: 1fr auto;
    border-bottom: 1px solid #ccc;
    padding-bottom: .5rem; }
  .message__tags {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr)); }
  .message__tag {
    background-color: #7ed56f;
    color: white;
    margin: .1rem;
    padding: 0 .5rem;
    border-radius: .5rem;
    font-weight: 700; }
  .message__text {
    font-size: 100%; }
    @media only screen and (min-width: 56.25em) {
      .message__text {
        font-size: 120%; } }
  .message__info {
    display: grid;
    grid-template-columns: 1fr auto; }
  .message:not(:last-child) {
    margin-bottom: 1rem; }

.tabs {
  margin: .5rem auto;
  width: 95%; }
  .tabs__header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    background-color: #eee; }
  .tabs__tab {
    text-align: center;
    font-weight: 300;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 2px;
    transition: all .3s ease; }
    .tabs__tab:hover {
      background-color: rgba(252, 252, 252, 0.2); }
    .tabs__tab--active {
      background-color: #fcfcfc;
      font-weight: 500;
      border: none;
      border-top: 1px solid #ccc; }
      .tabs__tab--active:last-child {
        border-right: 1px solid #ccc; }
      .tabs__tab--active:first-child {
        border-left: 1px solid #ccc; }
  .tabs__body {
    background-color: #fcfcfc;
    padding: .5rem;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc; }
  .tabs--login {
    display: grid;
    grid-template-columns: minmax(20rem, 50rem); }

.navigation {
  background-color: #2998ff;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 3.5rem;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr auto;
  box-shadow: 0 -0.1rem 1rem 0.1rem rgba(0, 0, 0, 0.3); }
  @media only screen and (min-width: 56.25em) {
    .navigation {
      top: 0;
      left: 0;
      grid-template-columns: auto auto; } }
  .navigation__title {
    display: none;
    font-size: 1.5rem;
    margin: auto 1rem;
    color: #fcfcfc; }
    @media only screen and (min-width: 56.25em) {
      .navigation__title {
        display: inline-block; } }
  .navigation__icon {
    margin: 0 auto;
    margin-top: .4rem; }
    @media only screen and (min-width: 56.25em) {
      .navigation__icon {
        margin: auto 0rem auto auto; } }
  .navigation__list {
    height: 3.5rem;
    list-style: none;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    align-items: center; }
  .navigation__item {
    height: 3.5rem;
    background-color: #2998ff;
    color: #fcfcfc;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-around;
    align-items: center;
    transition: all .3s ease; }
    @media only screen and (min-width: 56.25em) {
      .navigation__item {
        grid-template-columns: auto 1fr;
        padding-left: 1rem; } }
    .navigation__item:hover {
      background-color: rgba(252, 252, 252, 0.3); }
    .navigation__item--active {
      color: #2998ff;
      background-color: #fcfcfc; }
      .navigation__item--active:hover {
        color: white; }
  .navigation__label {
    font-size: 1rem; }
    @media only screen and (min-width: 56.25em) {
      .navigation__label {
        margin-left: .5rem;
        font-size: 1rem;
        text-align: left; } }

.dashboard {
  height: 100%; }
  @media only screen and (min-width: 56.25em) {
    .dashboard {
      display: grid;
      grid-template-columns: 25rem 1fr; } }
  .dashboard__header {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600; }
  .dashboard__head {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    background-attachment: fixed;
    background-size: cover;
    /* adapt image to view post on resizing */
    background-position: bottom;
    /* make image stick to top so other part gets cropped but not top*/
    background-repeat: no-repeat; }
    @media only screen and (min-width: 56.25em) {
      .dashboard__head {
        width: 100%;
        padding-left: 26rem;
        top: 3.5rem; } }
  .dashboard__back {
    max-width: 100%;
    height: 60%;
    overflow: hidden;
    background-attachment: fixed;
    background-size: cover;
    /* adapt image to view post on resizing */
    background-position: bottom;
    /* make image stick to top so other part gets cropped but not top*/
    background-repeat: no-repeat;
    position: relative; }
    .dashboard__back img {
      width: 100%;
      display: none; }
  .dashboard__content {
    margin-top: calc(60vh);
    width: 100%;
    z-index: 5;
    padding: 2rem 0.5rem 0 0.5rem;
    background-color: #fcfcfc;
    margin-bottom: 4.5rem;
    box-shadow: 0 -0.1rem 1rem 0.1rem rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    border: 1px solid #ccc;
    overflowY: scroll;
    position: absolute; }
    @media only screen and (min-width: 56.25em) {
      .dashboard__content {
        box-shadow: none;
        margin-top: 8vh;
        margin-bottom: 0;
        width: 25rem;
        top: 0;
        left: 0; } }
  .dashboard__card {
    height: 35%;
    max-width: 60rem;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1rem; }
    .dashboard__card .facts {
      padding-top: 1rem; }
      @media only screen and (min-width: 56.25em) {
        .dashboard__card .facts {
          padding-top: 3rem; } }
  .dashboard__title {
    top: 100;
    bottom: 0;
    right: 0;
    position: absolute;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    text-align: right;
    line-height: 1.2;
    text-transform: uppercase;
    padding: 0.5rem 1rem 0.5rem 15%; }

.pull {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #2998ff; }
  @media only screen and (min-width: 56.25em) {
    .pull {
      display: none; } }

.detail {
  height: 100%; }
  @media only screen and (min-width: 56.25em) {
    .detail {
      display: grid;
      grid-template-columns: 25rem 1fr; } }
  .detail__header {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600; }
  .detail__head {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    background-attachment: fixed;
    background-size: cover;
    /* adapt image to view post on resizing */
    background-position: bottom;
    /* make image stick to top so other part gets cropped but not top*/
    background-repeat: no-repeat; }
    @media only screen and (min-width: 56.25em) {
      .detail__head {
        width: 100%;
        top: 3.5rem; } }
  .detail__back {
    max-width: 100%;
    height: 60%;
    background-attachment: fixed;
    background-size: cover;
    /* adapt image to view post on resizing */
    background-position: bottom;
    /* make image stick to top so other part gets cropped but not top*/
    background-repeat: no-repeat;
    position: relative; }
    .detail__back img {
      width: 100%;
      display: none; }
  .detail__content {
    margin-top: calc(60vh);
    width: 100%;
    z-index: 5;
    padding: 2rem 0.5rem 0 0.5rem;
    background-color: #fcfcfc;
    margin-bottom: 4.5rem;
    box-shadow: 0 -0.1rem 1rem 0.1rem rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    border: 1px solid #ccc;
    overflowY: scroll;
    position: absolute; }
    @media only screen and (min-width: 56.25em) {
      .detail__content {
        box-shadow: none;
        margin-top: 8vh;
        margin-bottom: 0;
        width: 40rem;
        top: 0;
        left: 0; } }
  .detail__card {
    max-width: 90rem;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.5rem;
    padding: 1rem; }
    .detail__card .facts {
      padding-top: 1rem; }
      @media only screen and (min-width: 56.25em) {
        .detail__card .facts {
          padding-top: 3rem; } }
  .detail__title {
    top: 100;
    bottom: 0;
    right: 0;
    position: absolute;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    text-align: right;
    line-height: 1.2;
    text-transform: uppercase;
    padding: 0.5rem 1rem 0.5rem 15%; }

.pull {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #2998ff; }
  @media only screen and (min-width: 56.25em) {
    .pull {
      display: none; } }

.section {
  display: grid; }
  .section--login {
    grid-template-columns: repeat(auto-fit, minmax(max-content, 50rem));
    justify-content: center; }
